*{
  margin: 0;
  padding: 0;
	box-sizing: border-box;
  
}


header .navigation {
  display: flex;
  align-items: center;
  position: fixed;
  height:9%;
  min-width: 100%;
  z-index: 10;
  background: #000000cc;
}

header .navigation .logo{
  margin-left: 1%;
  margin-right:5%;
}

header .navigation .logo h1{
  color: #b1d4e0;
  font-size: 30px;
  line-height: 38px;
}

header .navigation .menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin: auto 20px auto 0;
}

.LoginBtn{
  
  margin-left:auto;
  margin-right:1%;
  background-color: #00000000; 
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.LoginBtn:hover {
  background-color: #ff0000;
  cursor:pointer;
}
.button1{

  margin-right:5%;
  background-color: #ff0000; 
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
.button1:hover {
  
  background-color: #db0505;
  cursor:pointer;
}
header .navigation .humbarger {
  margin-right: 20px;
  display: none;
 }
 
header .navigation .humbarger .bar{
  width: 30px;
  height: 2px;
  margin: 7px;
  background: #b1d4e0;
 }

header .navigation .menu-list li a {
  color: #b1d4e0;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 1s ease, border 1s ease;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-grow: 0; /* Prevent menu items from growing */
  font-family: 'Oswald', sans-serif;
}

/* ====================
  Intro Section
=======================*/
.intro-section {
  height: 100vh;
  position: relative;
  background-image: url('./Images/Image1.jpg');
  background-position: center bottom -200px;
  background-size: cover;
  min-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;

}

.intro-section .intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.intro-section .intro-content h1 {
  color: #b1d4e0;
  font-size: 5rem;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: 80px;
}

.intro-section .intro-content h6{
  margin-top: 5px;
  color: #b1d4e0;
  font-size: 2.5rem;
  font-weight: 300;
}

.intro-section .intro-content p {
  margin-top: 40px;
  color: #b1d4e0;
}

.intro-content .tagline {
  margin-top:80px;
  
}

.intro-section .intro-content .tagline .change-container{
	position: relative;
  display: inline-block;
  width: 1000px;
  margin-bottom: 55px;
	margin-top: 30px;
}

.intro-section .intro-content .changing {
	position: absolute;
	overflow: hidden;
  width: 100%;
  left:0;
  bottom:0;
  height:0;
  opacity:0;
  color: #FFD700;
  text-transform: uppercase;
  word-spacing: 5px;
	text-align: center;
	font-size: 2.5rem;
}
.intro-section .intro-content .changing span:first-child {
  color: white;
}
.intro-section .intro-content .changing span:nth-child(2) {
  color: red;
}

.changing:nth-child(1) {
  animation: revealNextWord 4s cubic-bezier(0.57, 1.52, 0.9, 1.08) infinite;
}

.changing:nth-child(2) {
  animation: revealNextWord 4s cubic-bezier(0.57, 1.52, 0.9, 1.08) 2s infinite;
}

@keyframes revealNextWord {
  0% { 
    opacity: 0; 
    height: 0; 
  }
  10% { 
    opacity: 1; 
    height: 1.2em; 
  }
  40% { 
    opacity: 1; 
    height: 1.2em; 
  }
  50% { 
    opacity: 0; 
    height: 0; 
  }
}


.intro-section .intro-content .header-btn a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #3498db;
  background-color: #b1d4e0;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

.intro-section .intro-content .header-btn a:before{
	position: absolute;
  content: ""; 
  top: 0px;
  height: 100%;
  left: -25%;
  width: 0%;
  background-color: #3498db;
  transform: skew(50deg);
  transition-duration: 1s;
  z-index: 1;
}

.intro-section .intro-content .header-btn a:hover{
  color: #b1d4e0;
}

.intro-section .intro-content .header-btn a:hover:before{
  width: 170%;

}

.intro-section .intro-content .header-btn a span{
	position: relative;
	z-index: 9;
}

/* ====================
  Responsive Section
=======================*/

/* Tablet desktop :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .navigation .menu-list {
    width: 60%;
  }

  header .navigation .menu-list li a{
    font-size: 1rem;
  }

}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

  header .navigation .menu-list {
    position: absolute;
    top: 12vh;
    min-width: 100%;
    background: rgba(15, 20, 35, 0.99);
    text-align: center;
    display: none;
  }

  header .navigation .menu-list li {
    display: block;
  }

  header .navigation .menu-list li a {
    display: block;
    padding: 20px;
    transition: color 1s ease, padding 1s ease, background-color 1s ease;

  }

  header .navigation .menu-list li a:hover{
    color: #b1d4e0;
    padding-left: 30px;
    background: rgba(177, 212, 224, 0.2);
  }


  header .navigation .humbarger{
    display: block;
  }

  .intro-section .intro-content h1 {
    font-size: 2.8rem;
  }

  .intro-section .intro-content h6 {
    font-size: 1.4rem;
  }

  .intro-section .intro-content .changing {
    font-size: 1.5rem;
  }

  .intro-section .intro-content .header-btn a{
    font-size: 1.25rem;
  }

}

.second-section {
  height: 350px;
  background-image: url('./Images/UnityBeltBJJ.png');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center; /* Centers content vertically */
  padding: 0 20px; /* Adds some padding to avoid the text sticking to the edges */
}

.second-section span {
  display: block; /* Makes it behave like a paragraph */
  margin-bottom: 20px; /* Adds space after the text */
  max-width: 1000px; /* Limits the width of the text */
  text-align: left; /* Center-aligns the text */
  line-height: 1.6; /* Increases space between lines */
  color: rgb(0, 0, 0); /* Adjust text color to stand out on the background */
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  margin-left:5%;
}

.third-section {
  height: 115vh;
  background-image: url('./Images/ThirdSection.png');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.HomePageProfessor{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:60vh;
  height:60vh;
  background-color: #ffffffda;
  background-size: cover;
  justify-content: center;
}