.members-section {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.members-section h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top:10%;
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Oswald', sans-serif;
}

.members-table th, .members-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.members-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.editBtn {
  padding: 6px 12px;
  background-color: #b30000;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.editBtn:hover {
  background-color: #800000;
}

.filters{
    outline-width:5%;
}