* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ddd;
}

.card {
    background-color: #cfcfcf;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 50px solid #333;
    border-right: 50px solid #333;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

#qrcode {
    margin: 20px 0;
    width: 150px;
    height: 150px;
}

.code {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Input Field Styling */
.input-container {
    margin-top: 20px;
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

input:focus {
    outline: none;
    border-color: #555;
}
